$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* VARIABLES */
$main-color: #34495e;
$text-color: lighten($main-color, 55%);
$accent-color: #4bd6c0;
$light-main-color: lighten($main-color, 6%);
$dark-main-color: darken($main-color, 6%);
/* GENERAL */
html,
body {
  font-family: Source Sans Pro;
  font-size: 17px;
  font-weight: 400;
  width: 100%;
  height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  color: $text-color;
  background-color: $main-color;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: auto;
}
::selection {
  background: $accent-color !important;
  color: #fff;
}
::-webkit-selection {
  background: $accent-color !important;
  color: #fff;
}
::-moz-selection {
  color: #fff;
  background: $accent-color !important;
}
.section {
  margin: 0 auto;
  padding: 120px 0;
}
h2 {
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 50px;
  margin: 0;
  padding-bottom: 24px;
  color: #fff;
  font-family: Source Code Pro;
}
h3 {
  margin: 0;
  color: #fff;
  font-family: Source Code Pro;
}
p {
  font-size: 1.25rem;
  line-height: 2.25rem;
  max-width: 920px;
  margin: 0;
  padding-bottom: 24px;
  color: $text-color;
}
ul {
  list-style: none;
  padding: 0;
}
a,
a:visited,
a:hover,
a:focus,
 {
  color: $accent-color;
  text-decoration: none;
}
.underline {
  color: $accent-color;
  display: inline-block;
  *zoom: 1;
  *display: inline;

  margin-bottom: -12px;
  position: relative;
}
.underline:before {
  overflow: hidden;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 0;
  height: 2px;
  background-color: $accent-color;
  @extend .transition;
}
.underline:hover:before {
  width: 100%;
}
strong {
  color: #faebd7;
  font-weight: 600;
}
.transition {
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);;
  -moz-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);;
  -webkit-transition: all 0.4 cubic-bezier(0.175, 0.885, 0.32, 1.275);;
}
.tile {
  position: relative;
  overflow: hidden;
  margin: 15px 0;
  .img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
}
/* HEADER */
header.section {
  padding-top: 240px;
  .container {

  }
  .img {
    height: 600px;
    background: url("../images/DSC00393.jpg") no-repeat center;
    background-size: cover;
    position: relative;

    .caption {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 12px 16px;
      margin: 48px;
      width: 300px;
      background-color: $text-color;
      color: $main-color;
    }
  }
  .img:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(52,73,94,0.6);
    @extend .transition;
  }
  .item:hover:before {
    background-color: rgba(52,73,94,0);
  }
}
/*ABOUT*/
/* WHAT I DO */
.what_i_do {
  background-color: #34495e;
}
.grid {
  margin: 0 -15px;
}
.web-dev,
.web-design {
  .svg {
    display: block;
    fill: #fff;
    height: 180px;
    width: 180px;
    margin: 90px auto 90+50px;
  }
  background-color: $light-main-color;
  h3 {
    position: absolute;
    bottom: 32px;
    left: 32px;
    padding: 0;
  }
}
.tech-and-skills {
  li {
    padding: 5px 0;
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  h3 {
    padding-bottom: 10px;
  }
  .strike {
    @extend .underline;
    color: $text-color;
  }
  .strike:before {
    content: "";
    position: absolute;
    @extend .transition;
    left: 0;
    bottom: 18px;
    display: block;
    width: 100%;
    height: 2px;
    background-color: $text-color;
  }
  .strike:hover:before {
    width: 0;
  }
}
/* WHAT I'VE DONE */
.work {
  .item:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(52,73,94,0.6);
    @extend .transition;
  }
  .item:hover:before {
    background-color: rgba(52,73,94,0);
  }
  .img {
    @extend .img;
    height: 270px;
  }
  .widget {
    background-color: #e67e22;
    background-image: url("../images/widget.png");
  }
  .website {
    background-image: url("../images/website.png");
  }
}
/* CONTACT */
.contact {
  padding-bottom: 240px;
  .underline.googleplus {
    color: #dd4b39;
  }
  .googleplus.underline:before {
    background-color: #dd4b39;
  }
  .underline.twitter {
    color: #55acee;
  }
  .twitter.underline:before {
    background-color: #55acee;
  }
  .underline.senscritique {
    color: #2ecc71;
  }
  .senscritique.underline::before {
    background-color: #2ecc71;
  }
  .mail {
    font-size: 2rem;
  }
  ul {
    text-align: right;
  }
}
form {
  .form-control {
    font-size: 1rem;
    padding: 16px;
    min-height: 56px;
    margin-top: 15px;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    box-shadow: none;
    background-color: $light-main-color;
    color: #fff;
    @extend .transition;
  }
  .form-control::-webkit-input-placeholder {
    color: #fff;
  }
  .form-control::-moz-placeholder {
    color: #fff;
  }
  .form-control:-ms-input-placeholder {
    color: #fff;
  }
  .form-control:focus {
    border: none;
    box-shadow: none;
    background-color: #fff;
    color: $dark-main-color;
  }
  .form-control:focus::-webkit-input-placeholder {
    color: $dark-main-color;
  }
  .form-control:focus::-moz-placeholder {
    color: $dark-main-color;
  }
  .form-control:focus:-ms-input-placeholder {
    color: $dark-main-color;
  }
  textarea {
    resize: none;
  }
  .btn.form-control {
    height: 48px;
    padding: 7px;
    vertical-align: middle;
    background-color: $dark-main-color;
    text-transform: uppercase;
  }
  .btn.form-control:active {
    background-color: darken($accent-color, 6%);
    color: #000;
    box-shadow: none;
    outline: none;
  }
  .btn.form-control:hover {
    background-color: darken($accent-color, 6%);
    color: #000;
    box-shadow: none;
  }
  p#confirmation {
    height: 48px;
    padding: 7px;
    margin-top: 15px;
    color: $light-main-color;
  }
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
@media screen and (max-width: 767px) {
  form .form-control {
    margin-top: 0 !important;
  }
  .section {
    padding: 60px 0;
  }
  header.section {
    padding-top: 60px;
  }
  .contact {
    padding-bottom: 60px;
  }
}
