// bower:scss
@import "bower_components/material-paper/sass/material-paper.scss";
// endbower

$text-color-title: rgba(0, 0, 0, .87);
$text-color: rgba(0, 0, 0, .7);
$text-color-secondary: rgba(0, 0, 0, .54);
$accent-color: $teal-a200;

html,
body {
  margin: 0;
  padding: 0;
  color: $text-color;
  background-color: $grey-50;
  font-family: Roboto Mono, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8rem;
  font-smoothing: antialiased;
  text-rendering: auto;
}

 ::selection {
  background-color: $accent-color;
}

 ::-moz-selection {
  background-color: $accent-color;
}

a {
  color: darken($accent-color, 30%);
}

/*------------------------------------*\
    Layout
\*------------------------------------*/
.container {
  max-width: 500px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

section {
  padding: 36px 0;
}

/*------------------------------------*\
    General style
\*------------------------------------*/
h1 {
  font-family: Roboto Mono;
  font-size: 2rem;
  line-height: 3.2rem;
  padding-bottom: 32px;
  font-weight: 500;
  text-align: center;
  letter-spacing: -1px;
  margin: auto;
  width: 80%;
  color: $text-color-title;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: $text-color;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding-bottom: 24px;
}

ul {
  margin: 0;
  list-style-type: none;
}

/*------------------------------------*\
    Header
\*------------------------------------*/
header {
  padding: 56px 0 0;

  p {
    font-size: .875rem;
    font-weight: 500;
    max-width: 660px;
    text-align: center;
    margin: auto;
  }

  #name {
    background-color: $accent-color;
    padding: 3px 0;
    box-shadow: 8px 0 0 $accent-color, -8px 0 0 $accent-color;
  }
}
/*------------------------------------*\
    Grid
\*------------------------------------*/
.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column-half {
  box-sizing: border-box;
  flex: 0 0 auto;
  flex-basis: 100%;
  max-width: 100%;
}
/*------------------------------------*\
    Tile
\*------------------------------------*/
.tile {
  position: relative;
  margin: 4px;
  padding-bottom: 16px;

  .img {
    margin-bottom: 24px;
    position: relative;
    min-height: calc(960px/4 - 64px);
    border-radius: 3px;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    transition: all .28s cubic-bezier(0.4, 0, 0.2, 1);

    img {
      padding: 60px;
    }
  }

  &:hover {
    z-index: 1000;
  }

  p {
    font-family: Roboto;
    font-size: 1.0625rem;
    padding: 16px 0;
    color: $text-color-secondary;
  }
}

a {
  .img {
    &:hover {
      box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
    }
  }
}

#one .img {
  background-color: $indigo-500;
  background-image: url(../images/rocket.svg);
}

#two .img {
  background-color: #fff;
  background-image: url(../images/layers.svg);
}

#three .img {
  background-color: #333;
  background-image: url(../images/videogame_asset.svg);
}

#four .img {
  background-color: $blue-grey-500;
  background-image: url(../images/code.svg);
}

#five .img {
  background-color: $deep-purple-500;
  background-image: url(../images/chat.svg);
}

#six .img {
  background-color: $grey-900;
  background-image: url(../images/gamepad.svg);
}

/*------------------------------------*\
    Animation
\*------------------------------------*/
.animation {
  transform: translateY(70px);
  opacity: 0;
}

@mixin load-animation($delay) {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  transition: transform .85s cubic-bezier(0.07,0.8,0.16,1),opacity .85s cubic-bezier(0.2,0.6,0.35,1);
  transform: translateY(00px) scale(1);
  transition-delay: ($delay+ms);
}

@for $i from 1 through 6 {
  .load-animation-#{$i} {
    @include load-animation(#{($i*50)+250});
  }
}

/*------------------------------------*\
    Footer
\*------------------------------------*/
footer {
  background-color: #fff;
  font-size: .875rem;
  margin-top: 0;
  font-weight: 500;
  text-align: center;
  padding: 40px 0;

  a {
    color: $text-color-secondary;
  }

  .column-half {
    padding: 16px 0;
  }
}

.social {
  height: 32px;
  text-align: center;

  svg {
    position: relative;
    height: 24px;
    width: 24px;
    top: 5px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    fill: $text-color-secondary;
    padding: 0 8px;

    &:hover {
      fill: $grey-900;
    }
  }
}

.heart {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  padding-bottom: 4px;
  fill: $accent-color;
}

/*------------------------------------*\
    Media queries
\*------------------------------------*/
@media only screen and (min-width: 760px) {
  html,
  body {
    font-size: 16px;
  }

  .container {
    max-width: 960px;
  }

  header {
    padding: 150px 0 0;
  }
  section{
    padding: 72px 0;
  }
  .work .container {
    max-width: 960+32px;
  }

  .column-half {
    flex-basis: 50%;
    max-width: 50%;
  }

  .tile {
    margin: 16px;

    .img{
        min-height: calc(960px/3 - 64px);
    }
  }

  footer {
    margin-top: 112px;
    text-align: left;

    .social {
      text-align: right;

      svg {
        padding: 0 0 0 16px;
      }
    }
  }
}

.browserupgrade {
  margin: .2em 0;
  padding: .2em 0;
  color: #000;
  background: #ccc;
}
