// bower:scss
@import "bower_components/material-paper/sass/material-paper.scss";
// endbower
$text-color-title: rgba(0, 0, 0, .87);
$text-color: $grey-800;
$text-color-secondary: $grey-500;
$accent-color: $pink-a200;

html,
body {
  margin: 0;
  padding: 0;
  color: $text-color;
  background-color: #fafafa;
  font-family: Roboto, Roboto Mono, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5rem;
  font-smoothing: antialiased;
  text-rendering: auto;
}

 ::selection {
  background-color: $accent-color;
}

 ::-moz-selection {
  background-color: $accent-color;
}

a {
  color: inherit;
}
/*------------------------------------*\
    Layout
\*------------------------------------*/
.container {
  max-width: 500px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.column-half {
  box-sizing: border-box;
  flex: 0 0 auto;
  flex-basis: 100%;
  max-width: 100%;
}
/*------------------------------------*\
    General style
\*------------------------------------*/
p {
  margin: 8px 0 12px;
  font-size: .9375rem;
}

a {
  text-decoration: none;
  color: $accent-color;
}
/*------------------------------------*\
    Nav
\*------------------------------------*/
nav {
  justify-content: space-between;
  padding: 20px;
  line-height: 36px;

  .avatar {
    background: url(../images/max.jpg);
    background-size: cover;
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }

  & > * + * {
    background-color: $grey-200;
    color: $accent-color;
    padding: 0 16px;
    margin: 2px 0;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    transition: all .28s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      box-shadow: $shadow-elevation-2dp;
    }
  }
}
/*------------------------------------*\
    Header
\*------------------------------------*/
header {
  padding: 48px 20px;

  h1 {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 500;
    margin: 0 0 20px;
    color: #212121;
    text-align: center;
  }

  p {
    text-align: center;
    color: $grey-500;
    width: 95%;
    margin: auto;
    max-width: 500px;
  }

  .social.row {
    padding: 24px 0;
    justify-content: center;
  }

  svg {
    position: relative;
    height: 24px;
    width: 24px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    fill: $grey-500;
    margin: 0 12px;

    &:hover {
      fill: $grey-700;
    }
  }
}
/*------------------------------------*\
    Work
\*------------------------------------*/
.tile {
  margin: 20px;
  padding-bottom: 16px;

  .img-container {
    position: relative;
    width: 100%;
    padding-bottom: 61.804697157%; //Golden Ratio
  }

  .img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: $shadow-elevation-3dp;
    transition: all .28s cubic-bezier(0.4, 0, 0.2, 1);

    img {
      padding: 60px;
    }
  }

  h2 {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: $text-color;
    margin: 24px 0 0;
  }

  &:hover {
    z-index: 1000;
  }

  p {
    font-family: Roboto;
    font-size: .9375rem;
    color: $text-color-secondary;
  }
}

a {
  .img {
    &:hover {
      box-shadow: $shadow-elevation-8dp;
    }
  }
}

#one .img {
  background-color: $indigo-500;
  background-image: url(../images/rocket.svg);
}

#two .img {
  background-color: #fff;
  background-image: url(../images/layers.svg);
}

#three .img {
  background-color: #333;
  background-image: url(../images/videogame_asset.svg);
}

#four .img {
  background-color: $blue-grey-500;
  background-image: url(../images/code.svg);
}
/*------------------------------------*\
    Animation
\*------------------------------------*/
.animation {
  transform: translateY(70px);
  opacity: 0;
}

@mixin load-animation($delay) {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  transition: transform .85s cubic-bezier(0.07,0.8,0.16,1),opacity .85s cubic-bezier(0.2,0.6,0.35,1);
  transform: translateY(00px) scale(1);
  transition-delay: ($delay+ms);
}

@for $i from 1 through 4 {
  .load-animation-#{$i} {
    @include load-animation(#{($i*50)+250});
  }
}
/*------------------------------------*\
    Footer
\*------------------------------------*/
footer {
  font-size: .875rem;
  margin-top: 0;
  color: $text-color-secondary;

  .row {
    border-top: solid 1px $grey-200;
    padding: 24px 0;
    margin: 0 20px;
  }
}
/*------------------------------------*\
    Media queries
\*------------------------------------*/
@media only screen and (min-width: 760px) {
  html,
  body {
    font-size: 16px;
  }

  .container {
    max-width: 840px;
  }

  h1 {
    width: 100%;
  }

  header {
    padding: 112px 0 0;
  }

  section {
    padding: 60px 0;
  }

  .work .container {
    max-width: 840+48px;
  }

  .column-half {
    flex-basis: 50%;
    max-width: 50%;
  }

  .tile {
    margin: 16px;
  }

  footer {
    margin-top: 112px;
    text-align: left;
  }
}

.browserupgrade {
  margin: .2em 0;
  padding: .2em 0;
  color: #000;
  background: #ccc;
}
