[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pelican = "==4.*"
pelican-jinja2content = "==1.0.*"
cryptography = "==3.*"
Markdown = "==3.*"
pelican-webring = {git = "https://github.com/mlcdf/webring.git"}
livereload = "==2.6.3"

[dev-packages]

[scripts]
dev = "./scripts/dev.py "
publish = "pelican --settings publishconf.py --delete-output-directory"
preview = "env PREVIEW=True pelican --settings publishconf.py --delete-output-directory --listen --autoreload"
clean = "rm -rf ./cache ./output"
