{% extends "layout.html" %} {% block title %}{{article.title}} - {{ SITENAME }}{% endblock %} {% block
metadata %}
<meta
  name="description"
  content="{% if article.description %}{{ article.description }}{% else %}{{ DESCRIPTION }}{% endif %}"
/>
<meta
  property="og:description"
  content="{% if article.description %}{{ article.description }}{% else %}{{ DESCRIPTION }}{% endif %}"
/>
<meta property="og:title" content="{{ article.title }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
{% endblock %} {% block content %}
<article class="post">
  <header>
    <h1 class="post-title">{{ article.title }}</h1>
    <span class="post-date" title="{{ article.date | strftime('%d %B %Y')}}"
      >{{ article.date | strftime('%d %B %Y') }}</span
    >
  </header>
  <section>
    {{ article.content }}
  </section>
</article>
{% endblock %}
