{% extends "layout.html" %}

{% block title %}{{article.title}} — {{ SITENAME }}{% endblock %}

{% block metadata %}
<meta
  name="description"
  content="{% if article.description %}{{ article.description }}{% else %}{{ DESCRIPTION }}{% endif %}"
/>
<meta
  property="og:description"
  content="{% if article.description %}{{ article.description }}{% else %}{{ DESCRIPTION }}{% endif %}"
/>
<meta property="og:title" content="{{ article.title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
{% endblock %} {% block content %}
<article class="post">
  <header>
    <!-- {% for tag in article.tags %}
      <span class="tag"><span class="lavender"></span>{{ tag }}</span>
    {% endfor %}<br> -->
    <h1 class="post-title serif">{{ article.title }}</h1>
    <span class="post-date" title="{{ article.date | strftime('%d %B %Y')}}"
      >Publié le {{ article.date | strftime('%d %B %Y') }} · écrit par {{ AUTHOR }}</span
    >
  </header>
  <section>
    {{ article.content }}
  </section>
</article>
{% endblock %}
