{% extends "layout.html" %}

{% block title %}
  {% if page.title != "Accueil" %}
    {{page.title}} — {{ SITENAME }}
  {% else %}
    {{ SITENAME }}
  {% endif %}
{% endblock %}

{% block metadata %}
  <meta name="description" content="{% if page .description %}{{ page  .description }}{% else %}{{ DESCRIPTION }}{% endif %}">
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ DESCRIPTION }}{% endif %}">
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:type" content="page" />
  <meta property="og:url" content="{{ SITEURL }}/{{ page.url }}" />
{% endblock %}

{% block content %}
<div class="page">
  {% if page.title != "Accueil" %}
  <h1 class="page-title">{{ page.title }}</h1>
  {% endif %}
  {{ page.content }}
</div>
{% endblock %}
