{% extends "base.html" %}

{% block title %}{{page.title}} - {{ SITENAME }}{% endblock %}

{% block metadata %}
  <meta name="description" content="{% if page .description %}{{ page  .description }}{% else %}{{ DESCRIPTION }}{% endif %}">
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ DESCRIPTION }}{% endif %}">
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:type" content="page" />
  <meta property="og:url" content="{{ SITEURL }}/{{ page.url }}" />
{% endblock %}

{% block content %}
<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  {{ page.content }}
</div>
{% endblock %}
