<div class="sidebar">
	<div class="container sidebar-sticky">
		<div class="sidebar-about">

			<h1>
					<a href="{{ SITEURL }}">{{ SITENAME }}</a>
			</h1>
			<p class="lead"></p>
			<p class="lead">{{ DESCRIPTION }} par {{ AUTHOR }}.</p>
			<p></p>
		</div>

		<nav class="sidebar-nav">
      <a class="sidebar-nav-item {% if page is not defined and article is not defined %} active {% endif %}" href="{{ SITEURL }}/">Billets</a>
      {% if DISPLAY_PAGES_ON_MENU %}
           {% for p in pages %}
             <a class="sidebar-nav-item {% if p == page %} active{% endif %}" href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
           {% endfor %}
      {% endif %}
      <p></p>
      {% for title, link in LINK %}
        <a class="sidebar-nav-item" href="{{ link }}">{{ title }}</a>
      {% endfor %}
      <p></p>
      <div class="sidebar-nab-item">
        Propulsé par <a href="https://getpelican.com">Pelican</a>.
      </div>

      <!-- {% if BUILD_DATE %}
        <div class="sidebar-nav-item">
        Généré le {{ BUILD_DATE }} via Pelican
        </div>

      {% endif %} -->
		</nav>
	</div>
</div>
