<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">

      <h1>
          <a href="{{ SITEURL }}">{{ SITENAME }}</a>
      </h1>
      <p class="lead"></p>
      <p class="lead">{{ SITESUBTITLE }} par {{ AUTHOR }}.</p>
      <p></p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item {% if page is not defined and article is not defined %} active {% endif %}" href="{{ SITEURL }}/">Mes notes</a>
      {% if DISPLAY_PAGES_ON_MENU %}
        {% for p in pages %}
          <a class="sidebar-nav-item {% if p == page %} active{% endif %}" href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
        {% endfor %}
      {% endif %}

      <p></p>
<!--       <a class="sidebar-nav-item" href="{{ SITEURL }}/preferences">[Préférences de lecture]</a>
 -->
      {% if LINK | length > 0 %}
        {% for title, link in LINK %}
          <a class="sidebar-nav-item" href="{{ link }}">{{ title }}</a>
        {% endfor %}
      {% endif %}

      <p></p>
      <p>&copy; 2019. Tous droits réservés.</p>
    </nav>
  </div>
</div>
