{% extends "templates/layout.njk" %}

{% block body %}
<p>
  A bunch of recent/ongoing projects.
</p>

<ul class="projectlist">
  {% for project in projects %}
  <li class="project">
    <div>
      <a class="project__image" href="{{ project.url }}">
        <img src="{{ asset('/images/' + project.img) }}" alt="{{ project.alt }}" style="background-color: #{{ project.color }}">
      </a>
    </div>
    <div class="project__description">
      <a class="project__name" href="{{ project.url }}">{{ project.name }}</a>
      <div>
        {{ project.description }}
      </div>
    </div>
  </li>
  {% endfor %}
</ul>

<p>
  See more at <a href="https://github.com/mlcdf">github.com/mlcdf</a>.
</p>
{% endblock %}
