<footer>
  <nav class="row">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="https://www.twitter.com/mlcdf" title="">Twitter</a>
    <a href="https://www.github.com/mlcdf">Github</a>
    <a href="mailto:hello@mlcdf.com">hello@mlcdf.com</a>
  </nav>
  <div class="row">
    <p>
      Unless specified otherwise, the content of this page is licensed under the Creative Commons Attribution 3.0 License, and code samples are licensed under the GNU GPL.
    </p>
  </div>
</footer>
