<div>
  <img id="avatar" src="../assets/img/avatar.jpg" alt="" />
  <p>
    My name is Maxime Le Conte des Floris, I'm a web developer and open source enthusiast based in Bordeaux, France.
  </p>
</div>
