<ul class="list-view">
  <% var posts = []; %>
  <% for(var slug in public.posts._data){ %>
    <li class="list-item">
      <a href="/posts/<%= slug %>" title="<%= public.posts._data[slug].title %>">
        <h2><%= public.posts._data[slug].title %></h2>
        <time><%= public.posts._data[slug].date %></time>
      </a>
    </li>
  <% } %>
</ul>
