/* Colors */
$c--primary : #2979ff;
$c--primary-text: #212121;
$c--secondary-text: #bdbdbd;

/* Typography */
$f--title : 'Vollkorn', serif;
$f--primary : 'Droid Sans', Helvetica, Arial, sans-serif;
$f--secondary : 'Inconsolata', monospace;

/* Size */
$w--paragraph : 600px;

/* Breakpoints */
$b--smartphone : 600px;
$b--tablet : 840px;
