@import '_variables';

body,
html {
  font-family: $f--primary;
  font-size: 16px;
  background: #fff;
  color: $c--primary-text;
  margin: 0;
  @media (max-width : 600px) {
    font-size: 14px;
  }
}

article,
footer,
header,
main {
  padding: 64px 160px;
  @media (max-width : 960px) {
    padding: 64px 120px;
  }
  @media (max-width : 840px) {
    padding: 64px 80px;
  }
  @media (max-width : 600px) {
    padding: 48px 24px;
  }
}

header {
  padding-top: 32px;
  padding-bottom: 32px;
}

main {
  background-color: #fafafa;

  a:hover {
    color: $c--primary;
  }
}

h1 {
  margin: 0;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 2rem;
}

h2 {
  margin: 0;
  font: 2.5rem/3.5rem $f--title;
  @media (max-width : 600px) {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

a {
  text-decoration: none;
  color: inherit;
  transition: all .2s ease-out;
}

p {
  max-width: $w--paragraph;
  font-size: 1.0625rem;
  line-height: 1.75rem;
  color: #666;
}

time {
  font-family: $f--secondary;
  line-height: 2.5rem;

  a & {
    color: $c--primary;
  }

  article > & {
    color: $c--secondary-text;
  }
}

.list-view {
  list-style: none;
  padding-left: 0;
  margin: 0;

  .list-item {
    padding-bottom: 64px;
    @media (max-width : 600px) {
      padding-bottom: 48px;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }
}

article {
  background-color: #fafafa;

  & > * {
    max-width: $w--paragraph;
  }

  a {
    color: $c--primary;
  }

  ol,
  ul {
    font-size: 1.0625rem;
    line-height: 1.75rem;
    color: #666;
  }

  img {
    width: 100%;
    margin-top: 24px;

    & + em {
      display: block;
      margin-bottom: 24px;
      padding-top: 8px;
      color: #666;
      font-size: .875rem;
      text-align: center;
      font-style: normal;
    }
  }

  blockquote {
    position: relative;
    font-style: italic;
    margin: 24px 0;
    padding-left: 24px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      width: 3px;
      background-color: black;
    }

    p {
      padding: 8px 0;

      ,
      &:last-child {
        margin-top: 0;
      }

      &:nth-child(1) {
        margin-bottom: 0;
      }
    }
  }

  code {
    font-family: $f--secondary;
    line-height: 1.25rem;
    padding: 4px 8px;
    border-radius: 3px;
  }

  pre {
    max-width: ($w--paragraph)-48px;
    margin: 32px 0;
    padding: 20px 24px;
    border-radius: 3px;
    background-color: #212121;
    color: #fafafa;
    @media (max-width : 600px) {
      border-radius: 0;
    }

    code {
      padding: 0;
      border-radius: 0;
    }
  }
}

footer {
  p {
    margin: 0;
    font-size: .875rem;
    color: $c--secondary-text;
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  a {
    margin-right: 32px;
    margin-bottom: 16px;
  }
}
