html {
  font-family:
    'Fira Sans', /* Firefox OS */
    -apple-system, BlinkMacSystemFont, /* MacOS and iOS */
    'avenir next', avenir, /* MacOS and iOS */
    'Segoe UI', /* Windows */
    roboto, noto, /* Google stuff */
    cantarell, oxygen, ubuntu, /* Linux stuff */
    'franklin gothic medium', 'century gothic', /* Windows stuff */
    'helvetica neue', helvetica, /* Older MacOS */
    'Liberation Sans', /* Linux */
    sans-serif; /* Everything else */

    --text-color-normal: #505050;
    --text-color-light: #737373;
    --background-color: #ffffff;
}



html {
  --text-color-normal: #f9f9fa;
  --background-color: #000000;
}

html[data-theme="dark"] body {
  color: #fff;
  background-color: #0c0c0d;
}

a {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

/* Purple */
.theme-base-purple .sidebar {
  background-color: #202340;
}
.theme-base-purple .content a,
.theme-base-purple .related-posts li a:hover {
  color: #d70022;
}

a:not([href*=".mlcdf."]):not([href^="#"])::after {
  background-image: url(/theme/images/open-in-new-black.svg);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  content: "";
  display: inline-block;
  height: 16px;
  margin: -.3rem .15rem 0 .25rem;
  vertical-align: middle;
  width: 16px;
  fill: currentColor;
 }

 html[data-theme="dark"] a:not([href*=".mlcdf."]):not([href^="#"])::after {
  background-image: url(/theme/images/open-in-new-white.svg);
 }







