html {
  font-family: -apple-system, BlinkMacSystemFont, /* MacOS and iOS */
    'avenir next', avenir, /* MacOS and iOS */
    'Segoe UI', /* Windows */
    'Fira Sans', /* Firefox OS */
    roboto, noto, /* Google stuff */
    cantarell, oxygen, ubuntu, /* Linux stuff */
    'franklin gothic medium', 'century gothic', /* Windows stuff */
    'helvetica neue', helvetica, /* Older MacOS */
    'Liberation Sans', /* Linux */
    sans-serif; /* Everything else */
}

.sidebar {
  color: rgba(255,255,255,.7);
}

.sidebar-about h1 {
  font-family: Charter, /* MacOS */
    Athelas, Georgia, 'Times New Roman', /* MacOS, Windows and some Linux*/
    'Droid Serif', /* Old Google stuff */
    'DejaVu Serif', 'Liberation Serif', /* Linux */
    serif; /* Everything else */
  font-size: 3rem;
}

/* Purple */
.theme-base-purple .sidebar {
  background-color: #202340;
}
.theme-base-purple .content a,
.theme-base-purple .related-posts li a:hover {
  color: #ed00b5;
}

a:not([href*=".mlcdf."])::after {
    background-image: url(/theme/images/open-in-new-black.svg);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    content: "";
    display: inline-block;
    height: 16px;
    margin: -.3rem .15rem 0 .25rem;
    vertical-align: middle;
    width: 16px;
    fill: currentColor;
    color: red;
 }

.sidebar a:not([href*=".mlcdf."])::after {
   background-image: url(/theme/images/open-in-new-white.svg);
}
