// @import "../../node_modules/normalize-scss/sass/normalize";
// @include normalize();

$light-grey: #e9e9e9;
$silver: #777;
$black: #222222;
$blue: #3d5afe;

$mono: 'Fira Mono', 'Fira Code', 'Roboto Mono', noto mono, monaco, menlo,
  'Droid Sans Mono', 'DejaVu Sans Mono', 'Consolas', cousine, 'Ubuntu Mono',
  'Courrier', 'Liberation Mono', monospace;
$sans: Ubuntu, -apple-system, BlinkMacSystemFont, 'avenir next', avenir,
  'Segoe UI', 'lucida grande', Gill Sans, 'Fira Sans', Roboto, Noto Sans,
  'Droid Sans', Cantarell, Oxygen, Ubuntu, 'Franklin Gothic Medium',
  'Century Gothic', 'Liberation Sans', 'Helvetica neue', 'Helvetica', sans-serif;
$serif: 'New York', Garamond, 'Bitstream Charter', Cambria, Cochin, Georgia,
  'MS Serif', Times, 'Times New Roman', serif;

html,
body {
  font-family: $sans;
  font-size: 1rem;
  line-height: 1.5rem;
  background-color: #fff;
  color: $black;
}

@media screen and (min-width: 560px) {
  body {
    font-size: 18px;
    line-height: 30px;
  }
}

a {
  color: $blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.wrapper {
  max-width: 600px;
  margin: auto;
  padding: 1em;
}

.header {
  margin: 2rem 0 1rem;
  display: flex;
  justify-content: center;

  &__title {
    text-align: center;
    margin: 0;
    font-size: 28px;
    font-family: $mono;
    padding: 14px 18px 12px;
    background-color: #24292e;
    border-radius: 4px;
    color: white;
  }
}

.nav {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);

  &__item {
    display: block;
    margin: 0.6rem 1rem;
    color: $blue;

    &--current {
      color: $black;
    }
  }
}

p {
  font-family: $serif;
  font-size: 1.25rem;
}

.projectlist {
  list-style: none;
  padding-left: 0;
}

.project {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  display: flex;
  border-bottom: solid 1px $light-grey;

  &__name {
    font-family: $sans;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
    font-weight: bold;
  }

  &__image {
    height: 44px;
    width: 44px;
    margin-right: 24px;
  }

  &__image img {
    height: 44px;
    width: 44px;
    padding: 36px;
    margin-right: 24px;
    border-radius: 4px;
    transition: box-shadow 0.3s ease-in;
  }

  &__image img:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
  }

  &__description > div {
    margin-top: 16px;
    width: 100%;
    color: #111;

    & > a {
      margin-right: 16px;
      color: $blue;
    }
  }
}

@media (max-width: 400px) {
  .project {
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;

    &__image {
      margin-bottom: 8px;
      margin-right: 0;
    }
  }
}

p {
  margin: 0;
}

p:not(:last-child) {
  margin-bottom: 1.5rem;
}

.footer {
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 2rem;
}
