$mono: 'Fira Mono', 'Fira Code', 'Roboto Mono', noto mono, monaco, menlo,
  'Droid Sans Mono', 'DejaVu Sans Mono', 'Consolas', cousine, 'Ubuntu Mono',
  'Courrier', 'Liberation Mono', monospace;
$sans: -apple-system, 'Sans Francisco', Roboto, 'Segoe UI',
  'Helvetica neue', 'Lucida Grande', 'Helvetica', sans-serif;
$serif: 'New York', Garamond, 'Bitstream Charter', Cambria, Cochin, Georgia,
  'MS Serif', Times, 'Times New Roman', serif;

html,
body {
  font-size: 16px;
  color: 000;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.serif {
  font-family: 'PT Serif', serif;
}
