.root {
    padding-top: 8rem;
    padding-bottom: 4rem;
}

.logo {
    font-family: Roboto Mono, Monaco, Consolas, Cousine, Segoe UI Mono, 'monospace';
    font-weight: bold;
    font-size: 5rem;
    line-height: 7rem;
    text-align: center;
}

.logo:hover {
    background-color: #111;
    color: #FFF;
}

@media (max-width: 460px) {
  .root {
      padding-top: 4rem;
      padding-bottom: 2rem;
  }

  .logo {
      font-size: 2.5rem;
      line-height: 3.5rem;
  }
}
