.root {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.logo {
    font-family: Roboto Mono, Consolas, Cousine, Segoe UI Mono, 'monospace';
    font-size: 1.125rem;
    font-weight: bold;
    color: #FF5252;
}

.logo:hover {
    background-color: #FF5252;
    color: #FFF;
}
