{{define "title"}}Maxime Le Conte des Floris{{end}} {{define "body"}}

<h1 class="f1-ns lh-title sans-serif mt3 mb4-ns mb3" id="à-propos-de-moi">À propos de moi</h1>

<p>Je m'appelle Maxime. Je suis passionné par la photographie, le cinéma et l'informatique sous toutes ses facettes.</p>

<p>Diplomé en électronique et en informatique (avec une spé web), j'habite et travaille sous le soleil bordelais. </p>

<p>Je maintiens de petits projets open source à mes heures perdues.</p>

<p>Je partage mon code sur GitHub, mes liens sur Pinboard, mes photos sur Unsplash et ce qui me passe par la tête sur Twitter ou Mastodon.</p>

<p>Le meilleur moyen de me contacter, c'est par email : bonjour@mlcdf.sh</p>

<h2 class="f4 f3-ns lh-title sans-serif mt4 mt5-ns mb2" id="à-propos-du-site">À propos du site</h2>

<p>
  Les pages sont servies par un serveur écrit en Golang tournant dans un container Docker. La mise en forme est réalisée à
  l'aide du framework CSS Tachyons.
</p>

{{end}}
