{{define "title"}}Maxime Le Conte des Floris{{end}} {{define "body"}}

<h1 class="f1-ns lh-solid sans-serif mt3 mb3">Articles</h1>

<ul class="list pl0">
  <li class="bt b--black-10 pv3 pv4-ns">
    <h2 class="normal mt0 mb1 sans-serif b f3"><a class="dim hover-hot-pink" href="">Extraire ses données présentes sur Internet à l'aide de JavaScript</a></h2>
    <div class="black-60 sans-serif f5 lh-copy">22 mars 2018</div>
  </li>
  <li class="bt bb b--black-10 pv3 pv4-ns">
    <h2 class="normal mt0 mb1 sans-serif b f3"><a class="dim hover-hot-pink" href="">Polices par défault</a></h2>
    <div class="black-60 sans-serif f5 lh-copy">10 janvier 2018</div>
  </li>
</ul>

{{end}}
