{{define "layout"}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{template "title"}}</title>
  <meta name="author" content="Maxime Le Conte des Floris">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="manifest" href="/manifest.json">
  <meta name="theme-color" content="#222222">
  <link rel="stylesheet" href="/static/assets/styles/{{ "style.css" | revving }}">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
  <link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#222222">
</head>

<body>
  <div class="wrapper">
    <main>
      {{template "body"}}
    </main>
    <footer>
      <ul>
        <li><a href="/">Home ›</a></li>
        <li><a href="/side-projects">Side projects ›</a></li>
        <!-- <li><a href="/photography">Photography ›</a></li>
        <li><a href="/films">Films ›</a></li> -->
        <li><a href="/links">Links ›</a></li>
      </ul>
    </footer>
  </div>
</body>

</html>
{{end}}
