@import "normalize.css";

@import "basscss-defaults";
@import "basscss-base-typography";
@import "basscss-border";
@import "basscss-layout";
@import "basscss-padding";
@import "basscss-margin";
@import "basscss-typography";
@import "basscss-type-scale";
@import "basscss-flexbox";

:root {
  --primary: #00BFA5;
  --link-color: var(--primary);

  --dark: #212121;
	--dark-grey: #333;
  --light: #708090;

	--font-family: Segoe UI, Helvetica, Roboto, Helvetica Neue;
	--serif-font-family: Georgia, Times New Roman, serif;
	--monospace-font-family : Segoe UI Mono, Roboto Mono, Consolas, monospace;

	--h4: 1.125rem;
	--h1: 2.5rem;

	--line-height-4: 2rem;

	/*--border-color: var(--dark);*/
}

html {
  box-sizing: border-box;
	font-smoothing: antialiased;
	font-size: 16px;
	@media (max-width : 600px) {
    font-size: 14px;
  }
}
body{
	background-color: #fff;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a{
	color: inherit;
	text-decoration: none;
	transition: all .3s ease;
}
a:hover,
a:focus,{
	color: var(--link-color);
}

.f--serif{
	font-family: var(--serif-font-family);
}
.f--sans{
	font-family: var(--font-family);
}

.dark{
	color: var(--dark);
}
.light{
	color: var(--light);
}

.max-width{
	max-width: 640px;
}

main{

  @media (max-width : 600px) {
    padding-right: 20px;
		padding-left: 20px;
  }

	& > *{
		@extend .f--serif;
		@extend .mx-auto;
	}

	& a{
		border-bottom: solid 1px var(--dark);
		&:hover,
		&:focus{
			border-bottom: solid 1px var(--link-color);
		}
	}

	& h1{
		@extend .mb2;
		@extend .mt0;
		@extend .pb2;
		color: var(--dark-grey);
	}

	& h2{
		@extend .mb0;
		& + p{
			@extend .mt1;
		}
	}

	& p, & ul, & ol{
		@extend .h3;
		@extend .my2;
		@extend .py1;
		@extend .line-height-4;
	}

	& blockquote{
		@extend .mx3;
		@extend .my2;
		@extend .italic;
	}

	& pre{
		@extend .p3;
		@extend .my3;
		@extend .border;
		@extend .overflow-auto;
		@extend .line-height-3;
	}

	& code, & pre, & samp{
		@extend .h4;
	}

	& img{
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}
